.content__bet {
	background-color: #1c232b;
	border-radius: 6px;
	margin: 0 0 8px;
	transition: box-shadow 0.3s;
	position: relative;

	.bet__delete {
		position: absolute;
		top: 6px;
		right: 6px;
		color: rgb(217 63 63);
		cursor: pointer;
		z-index: 1;
	}

	.bet__information {
		.information__header {
			display: flex;
			padding: 12px 26px 8px 12px;
			font-size: 16px;
			line-height: 16px;
			font-weight: 700;
			position: relative;
			white-space: nowrap;
			overflow: hidden;
			color: rgb(127 133 143);

			.header__title {
				display: block;
				position: relative;
				text-align: center;
				flex: 1;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				flex: initial;
			}

			.header__lable {
				display: inline-block;
				vertical-align: middle;
				font-weight: 700;
				margin: 0 5px;
			}
		}

		.information__user-selected {
			display: flex;

			justify-content: space-between;
			align-items: flex-end;
			margin: 0;
			padding: 0 12px 12px;

			.user-selected__wrapper {
				align-items: flex-start;
				display: flex;
				flex-direction: column;
				gap: 4px;
				width: 100%;

				.user-selected__event {
					font-size: 12px;
					color: var(--text-dark-color-100);
					text-transform: uppercase;
					justify-content: flex-start;
					flex: 1;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.user-selected__team {
					color: var(--primary-loot-color-100);
					font-size: 14px;
					font-weight: 700;
					text-transform: none;
					padding-bottom: 0;
					justify-content: flex-start;
					flex: 1;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			.user-selected__multiplayer {
				font-size: 14px;
				font-weight: 700;
				color: var(--text-color-60);
			}
		}
	}
}
