.match {
  color: #7f858f;
  display: flex;
  position: relative;
  width: 100%;
  border-bottom: 0 none;
  flex-wrap: nowrap;
  height: 72px;
  padding: 20px;
  background: #11161c;
  align-items: center;
  transition: 0.3s;
  font-size: 13px;
  box-shadow: 0 1px inset rgba(255, 255, 255, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.5);

  .match-header {
    background: transparent;
    padding: 0;
    width: 136px;
    border-right: 0 none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    position: relative;

    .match-date {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: Play, sans-serif;
      font-size: 12px;
      line-height: 12px;

      .date-time {
        margin-bottom: 2px;
        font-weight: 700;
      }
      .date-day {
        text-transform: uppercase;
        font-weight: 400;
      }
    }
    .match-game {
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .match-body {
    display: flex;
    position: relative;
    align-items: center;
    flex-grow: 1;
    flex-wrap: nowrap;
    width: calc(95% - 200px);
    text-align: left;
    padding-bottom: 0;
    overflow: hidden;
    width: auto;

    .select {
      width: 19.22%;
      display: flex;
      flex-direction: column;

      .select-event {
        font-size: 14px;
        font-weight: 700;
        line-height: 15.988px;
        margin-bottom: 1.5px;
      }
      .select-tournament {
        color: rgba(127, 133, 143, 0.8);
        font-size: 11px;
        line-height: 14px;
        white-space: nowrap;
      }
    }

    .teamLeft {
      padding-right: 52px;
      text-align: right;
      width: 40.39%;
      justify-content: flex-end;
    }

    .draw {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      min-width: 90px;
      max-width: 90px;
      height: 32px;
      left: 59.61%;
      top: 0;
      margin-left: -45px;
      font-size: 14px;
      font-weight: 700;
      color: rgba(127, 133, 143, 1);
    }

    .team {
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      color: #fff;
      font-family: Play, sans-serif;
      font-size: 14px;
      font-weight: 700;
      align-items: center;

      .team-name {
        line-height: 15.4px;
      }

      // .team-logo {
      // }

      .team-btn {
        text-align: center;
        line-height: 14px;
        display: flex;
        width: 80px;
        height: 32px;
        padding: 7.77px 25.97px 10.23px 26.03px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background: linear-gradient(0deg, #222a31 0%, #29323a 100%);
        box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset,
          0px 4px 10px -2px rgba(0, 0, 0, 0.15),
          0px 1px 3px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          box-shadow: 0 0 4px #00d487, inset 0 0 3px 1px #00d487;
          color: #fff;
          background: linear-gradient(180deg, #0ec184 0%, #0ba072 100%);
        }
      }
    }
    .teamRight {
      flex-direction: row-reverse;
      padding-left: 40px;
      width: 40.39%;
    }
  }
  .match-more {
    width: 60px;
    justify-content: flex-end;
    display: flex;
    align-items: center;

    .more-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      .more-counter {
        color: #7f858f;
        font-family: Play, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        margin-right: 7.23px;
      }

      .more-down {
        border-radius: 6px;
        background: linear-gradient(0deg, #222a31 0%, #29323a 100%);
        box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.05) inset,
          0px 4px 10px -2px rgba(0, 0, 0, 0.15),
          0px 1px 3px 0px rgba(0, 0, 0, 0.25);
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
