.bet__total {
	padding: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0.03);
	box-shadow: 0 1px inset rgba(0, 0, 0, 0.3);
	line-height: 1;

	.total__row {
		color: var(--text-dark-color-100);
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		padding-bottom: 5px;

		.total__value {
			font-weight: 700;
		}
	}
}
